

body{ font-family:'Gill Sans', sans-serif;
      text-align: justify;


}





.perso { 
    text-align: center;
    font-size:right;
    width: 70%;
    height:70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 170px;
    
}

img{ display: block;
width: 30%;
height: 30%;
text-align:left;
}


.header{
    display: flex;
    justify-content: space-between;
}

em{ font-size: 38px;
    color: black;
    text-align:right;
    tex-align:justify;
    background-color: beige;
    


}




strong {
    text-decoration: underline;
    font: size 28px;
    color:green
}
.descri{
    
    color: rgb(41, 124, 79);
    font-size: 26px;
    
    border:1px solid black

}

h1{
    color: rgb(14, 14, 58);
    font-size: 54px;
    text-align: center;
    background-color: aquamarine;
}

h2 {
 text-align: center;
}


.tit, h2, h3, h4{
    font-size: 44px;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
    text-align:center;
}

h5,h6 {
    color:rgb(25, 10, 94);
    font-size: 30px;
    text-decoration: underline;
}

.tit,h2,h3,h4 {
    border-bottom: 5px solid blue;
    display: block;
    
        display: block;
        margin: 0 auto;
        width: min-content;
        white-space: nowrap;
        text-decoration: none;
    

    margin: 0 auto;
    width: min-content;
    white-space: nowrap;
    text-decoration: none;

}

h6,.ref{
    display: block;
    margin: 0 auto;
    text-align: center;
}


h6{ text-align: right;
    text-align: overline;
    font-size: 38px;
    background-color:beige;
}

.ref{
    text-align: justify;
    text-align:left;
    font-size: 20px;
    font-weight:bold;

}

.pied{ text-align: center;
       text-decoration:overline;
       font-size:18ps;
}

.hobbies {
    font-weight:bold;
    text-decoration: underline;
    margin: 65px;
    font-weight: 200 ;
    font-size: 28px;    
}




